<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost and Found</title>
    <link rel="icon" type="image/png" href="../assets/favicon.ico">
    <link rel="stylesheet" href="lostandfound.css">
</head>
<body>
    <nav class="navbar">
        <a href="index.html" class="nav-logo">
            <img src="../assets/noto_man-genie.png" alt="Genie">
        </a>
        <div class="nav-links">
            <a href="lostandfound.html">Home</a>
            <a href="find-items.html">Find item</a>
            <a href="post-item.html">Post item</a>
        </div>
    </nav>

    <main>
        <section class="hero">
            <h1>Lost and Found</h1>
        </section>

        <section class="about-us">
            <div class="about-content">
                <p>Welcome to our online community dedicated to helping you find lost items and reconnect with cherished possessions. At <span class="highlight">Lost and Found</span>, we understand the heartache and frustration that losing something valuable can bring. Whether it's a beloved pet, a sentimental piece of jewelry, or a vital piece of equipment, the distress of losing an item can be overwhelming. Our mission is simple: to provide a platform where people can share information about lost and found items in our college campus, fostering a sense of community and support. We firmly believe that by coming together, we can increase the chances of reuniting lost items with their rightful owners.</p>
            </div>
        </section>
    </main>

    <footer>
        <p>Copyright ©2025 Campus Genie. All Rights Reserved.</p>
        
    </footer>
</body>
</html>